
/* mobile nav */
div .mobile-nav {
    display: none;
} 

.navbar ul {
    justify-content: center;
}

#home h1 {
    font-size: 3.5rem;
    margin-left: 20px;
}

#home h2 {
    font-size: 1.2rem;
    color: #aaa;
    margin-left: 20px;
}


.box-left {
    margin-top: 100px;
    width: 50%;
}

.box-left .picture-box {
    margin-top: 30px;
}

.box-left .paragraph-box {
    padding: 0;
    padding-left: 120px;
    padding-right: 20px;
}

.box-right {
    margin-top: 30px;
}

#projects .projects-showcase .box {
    height: 150px;
    width: 150px;
}  

.btn {
    width: 100%;
    margin: .3rem 0;
    text-align: center;
}
